<br/>
<div>
  Bootstrap Glyphicons :
  <span class="glyphicon glyphicon-search"></span> - <span class="glyphicon glyphicon-music"></span> - <span class="glyphicon glyphicon-heart"></span> - <span class="glyphicon glyphicon-star"></span>
</div>

<div>
  <span>Roboto Font :</span>
  <span style="font-family: Roboto;">Font Family Roboto</span>
</div>

<div class="container">
  <div>Sprites :</div>
  <div class="row">
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto01"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto02"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto03"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto04"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto05"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-home_mod01picto06"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module02_mod02picto03"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module02_mod02picto04"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module02_mod02picto05"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module02_mod02picto06"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module01_roundPicto"></i>
    </div>
    <div class="col-md-2 col-xs-4">
      <i class="icon icon-module02_roundPicto"></i>
    </div>
  </div>
</div>

<h1>Zepto test</h1>
<div class="red_square" ></div>

Zepto animate test:<br/>
<div class="some_element" ></div>

<h1>Todo tasks ({{todoCount}})</h1>
<div>
  Tasks list :
  <ul>
      <li *ngFor="let task of tasks" [class.selected]="task == selectedTask">
          <a href="javascript:void(0)" (click)="select(task)">
              {{task.name}}
              <span [ngSwitch]="task.done">
                  <template [ngSwitchCase]="true">[Done]</template>
                  <template [ngSwitchCase]="false">[Todo]</template>
              </span>
          </a>
      </li>
  </ul>
</div>

<task *ngIf="selectedTask" [task]="selectedTask" (statusChanged)="calculateTodoCount()"></task>
